body {
  height: 100vh;
  display: flex;
  background-color: rgba(38, 38, 38, 255);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

div#container {
  display: flex;
  width: 70%;
  height: 70%;
  flex-direction: row;
  contain: content;
  align-items: center;
}

div#logo_container {
  /*display: flex;*/
  display: flex;
  justify-content: center;
  width: 100%;
}

div#text_container {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  width: 100%;
  align-items: flex-start;
  color: white;
}

#text_container a {
  text-decoration: none;
  color: white;
}

#text_container a:hover {
  text-decoration: auto !important;
  color: orange !important;
}

img#logo {
  width: 100%;
}

div#message {
  font-size: x-large;
}

div#details {
  font-size: large;
}
.m-0 {
  margin: 0 !important;
}
.mt-1 {
  margin-top: 1.5rem !important;
}
.p-0 {
  margin: 0 !important;
}
.text-size-large {
  font-size: 2.75rem !important;
}
.text-size-normal {
  font-size: 1.2rem !important;
}
.text-bold-none {
  font-weight: unset;
}
